<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>740807593008-igv4t3jt53cf85dsruanbpbdvagu23on.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.740807593008-igv4t3jt53cf85dsruanbpbdvagu23on</string>
	<key>API_KEY</key>
	<string>AIzaSyBZAfl-LAP71rpBgo3J9hFdISYMiehd6K0</string>
	<key>GCM_SENDER_ID</key>
	<string>740807593008</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.innie.Workout</string>
	<key>PROJECT_ID</key>
	<string>workout-42ce8</string>
	<key>STORAGE_BUCKET</key>
	<string>workout-42ce8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:740807593008:ios:b7a82fe1955c3ee81231f5</string>
	<key>DATABASE_URL</key>
	<string>https://workout-42ce8-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>